*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*_BuiltData.uasset
Content/StarterContent/Textures
Content/StarterContent/HDRI
*.VC.db
Binaries/Win64/UE4Editor-BuildingEscape-1186.pdb
Binaries/
.vs/BuildingEscape/v16/ipch/
